.landing{
  width: 100%;
  height: 500px;
}
.landing .banner{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.landing .banner video{
  width: 100%;
  height: 560px;
  object-fit: cover;
}
.landing .apresentation{
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background: linear-gradient(0deg, var(--schema-dark-bg) 4%, #ffffff00 65%);
}
.landing .apresentation h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 5.5rem;
}
.landing .apresentation h1 span{
  color: var(--schema-dark-txt-span);
}
